<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notícia</title>
</head>
<body>
    <h1>Notícias</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Título</td>
            <td>Notícia</td>
        </tr>
        <%for (var i=0; i<noticias.length; i++) { %> <!--Laço de repetição que funciona para colocar todos as notícias que tiverem no database-->
        <tr>
            <td><%=noticias[i].id_noticia %></td> <!--colocando o id da notícia localizada na posição i(dependendo do for)-->
            <td><%=noticias[i].titulo %></td> <!--colocando o titúlo da notícia localizada na posição i(dependendo do for)-->
            <td><%=noticias[i].noticia %></td> <!--colocando a notícia localizada na posição i(dependendo do for)-->
        </tr>
        <% } %>
    </table>
</body>
</html>